@charset "ISO-8859-1";

h1 {
	padding-top: 50px;
}

html,body { 
	height:100%;
	margin: 0;
	background-color:#5D3F6A;
}

div.medicalcheckupstyle {
   	width: 1200px;
   	margin: auto;
}

div.findroomstyle {
   	width: 600px;
   	margin: auto;
}

div.mainPanel {
	height:100%;
	background-color: #5D3F6A;
	color: #F5F5DC;
	width: 600px;
   	margin: auto;
   	text-align: center;
}

div.mainPanelLarge {
	height:100%;
	background-color: #5D3F6A;
	color: #F5F5DC;
	width: 1400px;
   	margin: auto;
   	text-align: center;
}

div.businessreportstyle {
	height:100%;
	background-color: #5D3F6A;
	color: #F5F5DC;
	width: 1200px;
	min-height: 1200px;
   	margin: auto;
   	text-align: center;
}

input {
	color: black;
}

.small {
	width: 78px;
	height: 67px;
}

.button, .deleteButton {
	border: solid;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-width: medium;
	border-radius: 12px;
	border-color: #d4d4d4;
}

.button {
	background-color: #332542;
	color: #d4d4d4;
}

.deleteButton {
	background-color: #D30404;
	color: #F5F5DC;
}

.smaller {
	padding: 5px;
}

.delete {
	background-color: #D30404;
	color: #F5F5DC;
}

.reserve {
	background-color: 	#289c28;
	color: #F5F5DC;
}

.submitButton {
	font-weight: bold;
	background-color: #F5F5DC;
	border: solid;
	color: #332542;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-width: medium;
	border-radius: 12px;
	border-color: #d4d4d4;
}
