.site-header {
    background-color: #224a25;
    padding: 4px 0 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.site-header-content {
    background-color: #000000;
}
.submit-button {
	width: 300px;
	font-weight: bold;
	border: solid;
	color: #ffffff;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 80px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-width: medium;
	border-radius: 12px;
	border-color: #d4d4d4;
	background: url('../images/background-cropped.png') no-repeat;
	background-position: left center;
	cursor:pointer;
}
.sort {
	width: 220px;
	padding: 10px;
	padding-left: 80px;
	font-size:14px;
	margin: 2px 2px;
	background: url('../images/background-cropped.png') no-repeat;
	background-position: left center;
}

.sub-option {
	width: 220px;
	padding: 5px;
	padding-left: 80px;
	font-size:12px;
	margin: 1px 1px;
	background: url('../images/background-cropped.png') no-repeat;
	background-position: left center;
}

.basic {
	background: url('../images/background-cropped.png') no-repeat;
	background-position: left center;
}
.edit-profile {
	background: url('../images/background-cropped-edit-profile.png') no-repeat;
	background-position: left center;
}
.change-password {
	background: url('../images/background-cropped-change-password.png') no-repeat;
	background-position: left center;
}
.user-overview {
	background: url('../images/background-cropped-user-overview.png') no-repeat;
	background-position: left center;
}
.add-apartment {
	background: url('../images/background-cropped-add-apartment.png') no-repeat;
	background-position: left center;
}
.apartment-overview {
	background: url('../images/background-cropped-apartment-overview.png') no-repeat;
	background-position: left center;
}
.reservation-overview {
	background: url('../images/background-cropped-reservation-overview.png') no-repeat;
	background-position: left center;
}
.logout {
	background: url('../images/background-cropped-logout.png') no-repeat;
	background-position: left center;
}
.add-host {
	background: url('../images/background-cropped-add-host.png') no-repeat;
	background-position: left center;
}
.manage-amenities {
	background: url('../images/background-cropped-manage-amenities.png') no-repeat;
	background-position: left center;
}
.register {
	background: url('../images/background-cropped-register.png') no-repeat;
	background-position: left center;
}
.login {
	background: url('../images/background-cropped-login.png') no-repeat;
	background-position: left center;
}
.table-overview {
	border-spacing: 0;
}
.table-entry {
	margin-bottom: 15px;
}
.div-wrapper{
	width: 650px;
	padding-top: 30px;
    overflow: hidden;
}
.maximum-width{
	width: 100%;
}
.div-picture{
	width: 300px;
	height:300px;
    float:left;
}
.div-left-side{
	width: 50%;
	float: left;
	border: solid;
	border-width: thin;
	border-radius: 12px;
	padding-left: 15px;
	border-color: #d4d4d4;
	margin-right: 10px;
	margin-bottom: 10px;
	min-width: 715px;
}

.div-sort{
	padding-bottom:30px;
}
.div-details{
	overflow: hidden;
}
.div-find-filter{
	overflow: hidden;
	width: 400px;
	border: solid;
	border-width: thin;
	border-radius: 12px;
	border-color: #d4d4d4;
	padding-left: 15px;
}
.apartment-img{
	width:290px;
	height:230px;
}
.label-entry{
	width: 100%;
	color: #224a25;
	font-weight: bold;
	display: inline-block;
}

input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.label-entry-error{
    padding: 12px 20px;
    display: inline-block;
    color: #e50000;
    font-weight: bold;
}

.sub-entry{
	margin-left: 35px !important;
}
.smaller-font {
	font-size: 14px;
}

.bottom-spacing{
	padding-bottom: 8px;
}
.sort-column{
	vertical-align:top;
}